@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GintoNord";
  src: url("/assets/fonts/ginto/ABCGintoNormal-Regular.otf") format("opentype");
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "GintoNord";
  src: url("/assets/fonts/ginto/ABCGintoNormal-Medium.otf") format("opentype");
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: "GintoNord";
  src: url("/assets/fonts/ginto/ABCGintoNormal-Bold.otf") format("opentype");
  font-weight: 700; /* Bold */
}

@font-face {
  font-family: "GintoNord";
  src: url("/assets/fonts/ginto/ABCGintoNormal-Light.otf") format("opentype");
  font-weight: 300; /* Light */
}

@font-face {
  font-family: "GintoNord";
  src: url("/assets/fonts/ginto/ABCGintoNormal-Thin.otf") format("opentype");
  font-weight: 100; /* Thin */
}

@font-face {
  font-family: "GintoNord";
  src: url("/assets/fonts/ginto/ABCGintoNormal-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0, 0%, 50%, 0.26;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
    --font-ginto: "GintoNord", sans-serif;
    --code-bg: #50e74d3d;
    --code-border: #3750184d;
    --code-text: #09090b;
  }

  .dark {
    --background: 210, 43%, 15%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 0, 0%, 50%, 0.26;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --code-bg: #4e742121;
    --code-border: #3750184d;
    --code-text: #4bed2ed4;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: var(--font-ginto);
    -webkit-font-smoothing: antialiased;
    @apply bg-background text-foreground;
  }
}
